{% extends 'base.html.twig' %}

{% block title %}
	{{ scenario.getTitle() }}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/frameUpdate.min.css') }}">
{% endblock %}

{% block body %}
	{% for level, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ level }}">
				{{ message|raw }}
			</div>
		{% endfor %}
	{% endfor %}
	<div class="container mt-5" style="margin-bottom: 10rem;">
		<div class="custom-container">
			<form method="POST" enctype="multipart/form-data" class="mt-5">
				<h1>Modification des scènes de "{{ scenario.getTitle() }}"</h1>
				<h3 class="text-center">Scène{{ frame.getNumber() }}</h3>

				<label for="number"class="text-white">Numéro de scène</label>
				<input type="number" name="number" class="form-control" value="{{ frame.getNumber() }}" requierd>

				<div class="row mt-3">
					<div class="col">
						<div class="form-group">
							<label for="image" class="text-white">Illustration de la scène</label>
							<div class="img-render">
								<img src="{{ asset(frame.getImage()) }}"/>
							</div>
							<input type="file" name="image" class="form-control" accept="image/*"/>
						</div>
					</div>

					<div class="col">
						<label for="text" class="text-white">Narration</label>
						<textarea type="text" name="text" class="form-control text-white" rows="8" requierd>{{ frame.getText() }}</textarea>
					</div>
				</div>

				<div class="form-group text-center">
					<button type="submit" class="btn btn-primary mb-3">Modifier</button>
					<a href="{{ path('scenario_index') }}" class="btn btn-secondary mb-3">Annuler</a>
					<a href="{{ path('scenario_deleteFrame', {id: frame.getId()}) }}" class="btn btn-danger mb-3">Supprimer cette scène</a>
				</div>
			</form>	
		</div>
	</div>
{% endblock %}
