{% extends 'base.html.twig' %}

{% block title %}
	{{ scenario.getTitle() }}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/frameUpdate.min.css') }}">
{% endblock %}

{% block body %}
	{% for level, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ level }}">
				{{ message|raw }}
			</div>
		{% endfor %}
	{% endfor %}
	<div class="container mt-5" style="margin-bottom: 10rem;">
		<div class="custom-container">
			<h6 class="card-title"></h6>
				<p class="card-text"></p>
					<h1>Modification des scènes de "{{ scenario.getTitle() }}"</h1>
					<form method="POST" enctype="multipart/form-data" class="mt-5">
						
							<h3 class="text-center">Scène{{ frame.getNumber() }}</h3>

							<label for="number"class="text-white">Numéro de scène</label>
							<input type="number" name="number" class="form-control" value="{{ frame.getNumber() }}" requierd>

							<label for="image" class="text-white pt-5">Illustration de la scène</label>
							<img class="card-img-top" src="{{ asset(frame.getImage()) }}">
							<input type="file" name="image" class="form-control" accept="image/*">

							<label for="text" class="text-white pt-5">Narration</label>
							<textarea type="text" name="text" class="form-control text-white" rows="8" requierd>{{ frame.getText() }}</textarea>

							<div class="form-group text-center">
								<button type="submit" class="btn btn-primary">Modifier</button>
								<a href="{{ path('scenario_index') }}" class="btn btn-secondary">Annuler</a>
								<a href="{{ path('scenario_deleteFrame', {id: frame.getId()}) }}" class="btn btn-danger">Supprimer cette scène</a>
							</div>
						<div class="form-group text-center mt-3"></div>
					</form>	
		</div>
	</div>
{% endblock %}
