{% extends 'base.html.twig' %}

{% block title %}
	{{ scenario.getTitle() }}
{% endblock %}

{% block body %}
	<h6 class="card-title"></h6>
	<p class="card-text"></p>
	<div class="container">
		<h1 class="my-3">Modification des scènes de "{{ scenario.getTitle() }}"</h1>
		<form method="POST" enctype="multipart/form-data" class="mt-5">
			<div class="card-group">
				{% for frame in frames %}
					<div class="card mx-3">
						<h4 class="text-center">Scène{{ frame.getNumber() }}</h4>

						<label for="number{{ frame.getId() }}">Numéro de scène</label>
						<input type="number" name="number{{ frame.getId() }}" class="form-control" value="{{ frame.getNumber() }}" requierd>

						<label for="image{{ frame.getId() }}">Illustration de la scène</label>
						<img class="card-img-top" src="{{ asset(frame.getImage()) }}">
						<input type="file" name="image{{ frame.getId() }}" class="form-control" accept="image/*">

						<label for="text{{ frame.getId() }}">Narration</label>
						<textarea type="text" name="text{{ frame.getId() }}" class="form-control" rows="8" requierd>{{ frame.getText() }}</textarea>

						<div class="form-group text-center">
							<a href="{{ path('scenario_deleteFrame', {id: frame.getId()}) }}" class="btn btn-danger mt-3">Supprimer cette scène</a>
						</div>
					</div>
				{% endfor %}

				<div class="card">
					<div class="form-group">
						<label for="number">Numéro de scène</label>
						<input type="number" name="number" class="form-control" requierd>
					</div>

					<div class="form-row">
						<div class="col">
							<label for="image">Illustration de la scène</label>
							<input type="file" name="image" class="form-control" accept="image/*">
						</div>
					</div>

					<div class="form-group">
						<label for="text">Narration</label>
						<textarea type="text" name="text" class="form-control" rows="8" requierd></textarea>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-primary">Ajouter une nouvelle scène</button>
					</div>
				</div>
			</div>

			<div class="form-group text-center mt-3">
				<button type="submit" class="btn btn-primary">Modifier</button>
				<a href="{{ path('scenario_index') }}" class="btn btn-secondary">Annuler</a>
			</div>

		</form>
	</div>


{% endblock %}
