{% extends 'base.html.twig' %}

{% block title %}Scénario{% endblock %}

{% block body %}
	{% for level, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ level }}">
				{{ message|raw }}
			</div>
		{% endfor %}
	{% endfor %}

	<div class="container">
		<h1 class="text-center">Choix de scénario</h1>
		<div class="row">
			{% for scenario in scenarios  %}
				<div class="col-3">
					<img src="{{ asset(scenario.getImage()) }}" alt="" class="card-img-top img-fluid">
					<div class="card-body">
						<h6 class="card-title">{{ scenario.getTitle() }}</h6>
						<p class="card-text">{{ scenario.getResume() }}</p>
						<a href="{{ path('play_index', {id: scenario.getId()}) }}" class="btn btn-success mb-1">Jouer</a>
						<a href="{{ path('scenario_view', {id: scenario.getId()}) }}" class="btn btn-secondary mb-1">Détail du scénario</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
