{% extends 'base.html.twig' %}

{% block title %}Scénario{% endblock %}

{% block body %}

	<div class="container">
	<h2><a href="{{ path('scenario_create') }}">Création de scénario</a></h2>
	<h2 class="text-center">Choix de scénario</h2>
		<div class="row">
			{% for scenario in scenarios  %}
				<div class="col-3">
					<img src="{{ asset(scenario.getImage()) }}" alt="" class="card-img-top img-fluid">
					<div class="card-body">
						<h6 class="card-title">{{ scenario.getTitle() }}</h6>
						<p class="card-text">{{ scenario.getResume() }}</p>
						<a href="{{ path('play_index', {id: scenario.getId()}) }}" class="btn btn-primary mb-1">Jouer ce scénario</a>
						<a href="{{ path('scenario_update', {id: scenario.getId()}) }}" class="btn btn-secondary mb-1">Modifier ce scénario</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
