{% extends 'base.html.twig' %}

{% block title %}
	{{ scenario.getTitle() }}
{% endblock %}

{% block body %}
	{% for level, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ level }}">
				{{ message|raw }}
			</div>
		{% endfor %}
	{% endfor %}

	<a href="{{ path('scenario_view', {id: scenario.getId()}) }}" class="btn btn-secondary m-3">Retour</a>
	<div  class="container mt-5">
	<form method="POST" enctype="multipart/form-data">
		<h1 class="my-3">Modification de "{{ scenario.getTitle() }}"</h1>

		<div class="form-group">
			<label for="title">Titre du scénario</label>
			<input type="text" name="title" class="form-control" value="{{ scenario.getTitle() }}" requierd>
			<small class="font-italic">(Maximum 100 caractères)</small>
		</div>

		<div class="form-group">
			<div class="form-row">
				<div class="col-4">
					<label for="image">Illustration du scénario</label>
					<img class="card-img-top" src="{{ asset(scenario.getImage()) }}">
					<input type="file" name="image" class="form-control" accept="image/*">
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="resume">Résumé du scénario</label>
			<small class="font-italic">(Maximum 1000 caractères)</small>
			<textarea type="text" name="resume" class="form-control" rows="8" requierd>{{ scenario.getResume() }}</textarea>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary">Modifier</button>
		</div>

	</form>
	<a class="btn btn-primary" href="{{ path('scenario_frameCreate', {id: scenario.getId()}) }}">Ajouter une nouvelle scène</a>
	<div class="card-group">
		{% for frame in frames %}
			<div class="card col-3 mx-1">
				<h6 class="card-title">Scène
					{{ frame.getNumber() }}</h6>
				<img src="{{ asset(frame.getImage()) }}" alt="" class="card-img-top">
				<div class="card-body">
					<p>{{ frame.getText() }}</p>
					<a class="btn btn-primary" href="{{ path('scenario_frameUpdate', {id: frame.getId()}) }}">Modifier la scène</a>
					<a href="{{ path('scenario_deleteFrame', {id: frame.getId()}) }}" class="btn btn-danger">Supprimer cette scène</a>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="form-group text-center">
		<a href="{{ path('scenario_delete', {id: scenario.getId()}) }}" class="btn btn-danger mt-3">Supprimer le scénario</a>
	</div>
	</div>


{% endblock %}
