{% extends 'base.html.twig' %}

{% block title %}
	{{ scenario.getTitle() }}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/view.min.css') }}">
{% endblock %}

{% block body %}
	{% for level, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ level }}">
				{{ message|raw }}
			</div>
		{% endfor %}
	{% endfor %}

	<div class="view-header" style="background-image: url('{{ asset(scenario.getImage()) }}');">
		<div class="shape">
			<h1>
				{{ scenario.getTitle() }}
				<a href="{{ path('scenario_update', {id: scenario.getId()}) }}" class="badge badge-secondary">
					Modifier ce scénario
				</a>
			</h1>
		</div>
	</div>

	<div class="container">
		<div class="custom-container">
			<h3>Résumé</h3>
			<p class="text-muted m-0 pb-3">{{ scenario.getResume() }}</p>
		</div>

		<div class="custom-container">
			<h3>Listes des scènes</h3>
			{# {% if scenario.getFrames() is not empty %} #}
			<div class="row">
				{% for frame in frames %}
					<div class="col-12 col-md-6 col-lg-4 mb-3">
						<div class="card custom-card">
							<div class="position-relative">
								<img src="{{ asset(frame.getImage()) }}" alt="" class="card-img-top img-fluid border border-dark">
								<h5 class="card-title font-weight-bold text-white">Scène {{ frame.getNumber() }}</h5>
							</div>
							<div class="card-body">
								<p class="card-text text-white mb-0">{{ frame.getText() }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			{# {% endif %} #}
		</div>
	</div>
{% endblock %}
