{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/register.min.css') }}">
{% endblock %}
{% block body %}
<div class="svg"></div>
<main>
    <section class="container presentation">

    <h1 class="text-center pt-5" >Inscription</h1>
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
    <div class="container">
        <div class="row">
            <label class="col-6 text-center">Email</label>
            <label class="col-6 text-center">Pseudo</label>
        </div>
        <div class="row justify-content-around">
                {{ form_row(registrationForm.email, {'attr': {'class': 'col-6'}})  }}
                {{ form_row(registrationForm.username, {'attr': {'class': 'col-6'}}) }}
        </div>
        <div class="row">
            <label>Mot de passe</label>
            <label>Répéter mot de passe</label>
        </div>
        <div class="row">
            {{ form_row(registrationForm.plainPassword.first) }}
            <div></div>
            {{ form_row(registrationForm.plainPassword.second) }}
        </div>
        <div class="row">
            <label>Personnage</label>
            <label>Histoire du Personnage</label>
        </div>
        <div class="row">
            <div></div>
            {{ form_row(registrationForm.avatar) }}
            <div></div>
            {{ form_row(registrationForm.history) }}
        </div>
        <div class="row">
            <label>Intelligence</label>
            <label>Puissance</label>
            <label>Charisme</label>
        </div>
        <div class="row">
            <div></div>
            {{ form_row(registrationForm.intelligency) }}
            <div></div>
            {{ form_row(registrationForm.power) }}
            <div></div>
            {{ form_row(registrationForm.social) }}
        </div>
        <button type="submit" class="btn mt-2">Inscription</button>
    </div>
    {{ form_end(registrationForm) }}
    </section>
</main>
{% endblock %}   
