{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/register.min.css') }}">
{% endblock %}
{% block body %}
<div class="svg"></div>
<main>
    <section class="container presentation">

    <h1 class="text-center pt-5" >Inscription</h1>
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
    <div class="container">
        <div class="row">
            <label class="col-6 text-center">Email</label>
            <label class="col-6 text-center">Pseudo</label>
        </div>
        <div class="row justify-content-around mb-3">
            <div class="col-6 text-center">
                {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}} )  }}
            </div>
            <div class="col-6 text-center">
                {{ form_row(registrationForm.username, {'attr': {'class': 'form-control'}} ) }}
            </div>        
        </div>
        <div class="row">
            <label class="col-6 text-center">Mot de passe</label>
            <label class="col-6 text-center">Répéter mot de passe</label>
        </div>
        <div class="row justify-content-around mb-3">
            <div class="col-6 text-center ">
                {{ form_row(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}} ) }}
            </div>
            <div class="col-6 text-center">
                {{ form_row(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'}} ) }}
            </div>
        </div>
        <div class="row">
            <label class="col-6 text-center">Personnage</label>
            <label class="col-6 text-center">Histoire du Personnage</label>
        </div>
        <div class="row mb-3" row="100">
            <div class="col-6 text-center">
                {{ form_row(registrationForm.avatar, {'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-6 text-center">
                {{ form_row(registrationForm.history, {'attr': {'class': 'form-control'}} ) }}
            </div>
        </div>
        <div class="row">
            <label class="col-4 text-center">Intelligence</label>
            <label class="col-4 text-center">Puissance</label>
            <label class="col-4 text-center">Charisme</label>
        </div>
        <div class="row">
            <div class="col-4 text-center">{{ form_row(registrationForm.intelligency, {'attr': {'class': 'form-control'}} ) }}</div>
            <div class="col-4 text-center">{{ form_row(registrationForm.power, {'attr': {'class': 'form-control'}} ) }}</div>
            <div class="col-4 text-center">{{ form_row(registrationForm.social, {'attr': {'class': 'form-control'}} ) }}</div>
        </div>
        <div class="row mb-3">
            <small class="text-center col-12">La somme des caractéristiques doit etre de 100.</small>
        </div>
        <div class="row justify-content-center mt-4">
            <button type="submit" class="btn ">Inscription</button>
        </div>
    </div>
    {{ form_end(registrationForm) }}
    </section>
</main>
{% endblock %} 