{% extends 'base.html.twig' %}

{% block title %}{{ scenario.getTitle() }}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/play.min.css') }}">{% endblock %}

{% block body %}
    <main>
        <div class="container mt-4 ">
            <div class="row justify-content-around ">

                <div class="col-8 ">
                    <section class="dashboard mt-4" id="dashboard" >
                        <img class="d-block frameImage" id="imgsrc"src="" >
                    </section>
                    <section class="info mt-4 row">

                        <div id="carouselAvatar" class="carousel vert slide col-4 p-0" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner row m-0">
                                <div class="button col-3 p-0">
                                    <a class="row" id="button-left-up" href="#carouselAvatar" role="button" data-slide="prev">
                                        <span><i class="las la-angle-up"></i></span>
                                    </a>
                                    <a class="row" id="button-left-down" href="#carouselAvatar" role="button" data-slide="next">
                                        <span><i class="las la-angle-down"></i></span>
                                    </a>
                                </div>
                                <div class="col-9 p-0" id="avatar">
                                    {% set i = 0 %}
                                    {% for user in users %}
                                    <div {% if i < 1 %} class="carousel-item text-center active" {% else %} class="carousel-item text-center" {% endif %}>
                                        <img class="d-block avatar" src="{{ asset(user.getAvatar()) }}" alt="First slide">
                                        <div class="stats">
                                            <p class="usercard">{{ user.username}}</p>
                                            <p class="usercard"><i class="las la-khanda"></i> {{ user.power}}  <i class="las la-sms"></i> {{ user.social}}  <i class="las la-lightbulb"></i>{{ user.intelligency}}</p>
                                        </div>
                                    </div>
                                    {% set i = i + 1 %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div id="carouselFrame" class="carousel vert slide col-8 p-0" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner row m-0">
                                <div class="col-10 p-0 pl-2 my-2"  id="frame">
                                {% if app.user.id == gameMaster.getId() %}
                                    {% set i = 0 %}
                                    {% for frame in frames %}
                                    <div class="carousel-item {{ (i < 1) ?  'active' : '' }}" data-frame-id="{{ frame.getId()}}">
                                        <h4 class="mb-1">Scène {{ frame.getNumber() }}</h4>
                                        <textarea class="text" disabled="yes">{{ frame.getText() }}</textarea>
                                    </div>
                                    {% set i = i + 1 %}
                                    {% endfor %}
                                {% endif %}
                                
                                </div>
                                <div class="button col-2 p-0">
                                    <a class="row" id="button-right-up" href="#carouselFrame" role="button" data-slide="prev">
                                        <span><i class="las la-angle-up"></i></span>
                                    </a>
                                    <a class="row" id="button-right-down" href="#carouselFrame" role="button" data-slide="next">
                                        <span><i class="las la-angle-down"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-4 container">
                    <section class="chat mt-4" >
                        <div class="discussion" id="discussion">
                        </div>
                        <div class="input row">
                            <input id="text"class="col-10"type="text" name="message">
                            <button class="col-2" id="valid"><i class="las la-angle-up"></i></button>
                        </div>
                    </section>
                <section  class="roll mt-4">
                    <div id="roll1" class="row">
                        <input id="input1"class="col-6" type="text" name="message" placeholder="Nombre de dés">
                        <input id="input2"class="col-6" type="text" name="message" placeholder="Choix du type ">
                    </div>
                    <div id="roll2" class="row">
                        <button class="col-12" id="valid-rolz">Lancer de dés</button>
                    </div>
                </section>
                </div>

            </div>
        </div>
    </main>
    <input type="hidden" id="frameId" value=0> 
    <input type="hidden" id="idgame" value={{ idgame }}> 
{% endblock %}

{% block footer %}{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="/assets/js/game.js"></script>
{% endblock %}